doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Project
// <link rel="stylesheet" href="../CSS/blog.css">
link(rel='stylesheet' media='screen and (min-width: 950px)' href='../static/blog.css')
link(rel='stylesheet' media='screen and (max-width: 950px)' href='../static/blog-phone.css')
nav.navbar
  .three_lines
    div
    div
    div
  img(src='https://he-s3.s3.amazonaws.com/media/avatars/jayraykhere/resized/160/aoh14gjxlrhp1m3a6w25wepfziuhnglcw3g8grievnou' alt='')
  .menu
    a(href='/index') Home
    a(href='/videos') Videos
    a(href='/blog') Blog
    a(href='/contact') Contact Me
  .buttons
    // <button class="btn">Search</button>
    button.btn Login
    button.btn Sign Up
.container2
  div
    h1 Coding Capsules 
    h2 By Code With Harry
  .content
    //- div
    //-   h3
    //-     | Windows 11 Leaked - What&apos;s new and why its exciting?
    //-     p
    //-       | Windows 11 is an upcoming version of Microsoft Windows. It will be the successor to Windows 10.
    //-     a(href='/blog.html')  Read More
    each val, key in Project
      div
        h3 #{val.head}
        //- | Windows 11 Leaked - What&apos;s new and why its exciting?
        p #{val.desc}
          //- | Windows 11 is an upcoming version of Microsoft Windows. It will be the successor to Windows 10.
        a(href='/blog.html')  Read More
footer
  | Copyright &copy; 2021-2022 My-Project
